<!--=== 搜索结果内容 ===-->
<div class="col-md-10 col-md-offset-1 job-content">
  <div class="row">
    <!--=== 左侧区块 ===-->
    <% @jobs.each do |job| %>
      <div class="col-md-9 col-xs-12 job-box">
        <!--=== 职位信息 ===-->
        <div class="col-md-6 col-xs-12 info">
          <div class="info-top">
            <h3><%= link_to(job.title, job_path(job), target: "_blank" )%></h3><span><%= job.created_at.strftime("%Y-%m-%d") %></span>
          </div>
          <div class="info-mid">
            <%= job.wage_lower_bound %> ~ <%= job.wage_upper_bound %>
          </div>
          <div class="info-bot">
            <span class="fa fa-clock-o"></span>&nbsp;&nbsp;<span><%= job.experience %>年工作经验<span>
          </div>
        </div>

        <!--=== 公司信息 ===-->
        <div class="col-md-6 col-xs-12 company">
          <div class="company-top">
            <span><%= link_to(job.company, job_path(job))%></span>
            <% if current_user && current_user.has_collected?(job)%>
              <%= link_to quit_collect_job_path(job), method: :post do%>
                <i class="fa fa-bookmark" aria-hidden="true"></i>
              <% end %>
            <% else %>
              <%= link_to collect_job_path(job), method: :post do %>
                <i class="fa fa-bookmark-o" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </div>
          <div class="company-mid">
            <span class="fa fa-envelope"></span><span><%= job.contact_email %></span>
          </div>
          <div class="company-bot">
            <span class="fa fa-map-marker"></span><span><%= job.city %></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!--=== 换页区块 ===-->
<div class="col-md-10 col-md-offset-1 job-bottom">
  <% if @jobs.present? %>
      <div class="text-center">
        <%= will_paginate(@jobs, renderer: BootstrapPagination::Rails) %>
      </div>
  <% end %>
</div>
