<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <h3>正在热招的职位
            <!-- Split button -->
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-primary">按需求排序</button>
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
                <li><%= link_to("按薪资下限排序", jobs_path(order: "by_lower_bound"))%></li>
                <li><%= link_to("按薪资上限排序", jobs_path(order: "by_upper_bound"))%></li>
                <li><%= link_to("按发布时间排序", jobs_path )%></li>
              </ul>
            </div>
          </h3>
        </div>
        <!-- Table -->
        <table class="table table-hover">
          <thead>
            <tr>
              <th>招聘职位</th>
              <th>薪资范围</th>
              <th>发布时间</th>
            </tr>
          </thead>
          <tbody>
            <% @jobs.each do |job| %>
              <tr>
                <td><%= link_to(job.title, job_path(job)) %></td>
                <td><%= job.wage_lower_bound %>~<%= job.wage_upper_bound %></td>
                <td><%= job.created_at %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
