<div class="col-md-12">
  <div class="job">
    <%= link_to("新增职位", new_job_path, class: "btn btn-primary pull-right")%>
  </div>
  <table class="table table-hover">
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td><%= link_to(job.title, job_path(job))%></td>
          <td>
            <%= link_to("编辑", edit_job_path(job), class: "btn btn-primary btn-sm") %>
            <%= link_to("删除", job_path(job), class: "btn btn-warning btn-sm",
                        method: :delete, data: { confirm: "你确定删除吗？"})%>
          </td>
          <td><%= job.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
