<div class="col-md-12">
  <br>
  <div class="pull-right">
    <%= link_to new_admin_job_path, class: "btn btn-primary" do %><l class="fa fa-plus"></l>&nbsp;添加职位<% end %>
  </div>
  <br><br>

  <table class="table table-boldered table-striped custab" >
    <thead>
      <tr>
        <th>职位</th>
        <th>收到简历数量</th>
        <th>薪资下限</th>
        <th>薪资上限</th>
        <th>管理选项</th>
        <th>发布时间</th>
      </tr>
    </thead>

    <% @jobs.each do |job| %>
    <tr>
      <td>
        <%= render_job_status(job) %>
        <%= link_to(job.title, admin_job_path(job))%>
      </td>
      <td><%= link_to(job.resumes.count, admin_job_resumes_path(job)) %></td>
      <td><%= job.wage_lower_bound %></td>
      <td><%= job.wage_upper_bound %></td>
      <td>
        <%= link_to edit_admin_job_path(job), class: "btn btn-sm btn-primary" do%><l class="fa fa-pencil"></l><% end %>
        <%= link_to admin_job_path(job), class: "btn btn-sm btn-danger",
                    method: :delete, data: { confirm: "你确定删除吗？"} do %><l class="fa fa-trash"></l>
        <% end %>

        <% if job.is_hidden %>
          <%= link_to publish_admin_job_path(job), method: :post, class: "btn btn-sm btn-success" do %><l class="fa fa-unlock"></l><% end %>
        <% else %>
          <%= link_to hide_admin_job_path(job), method: :post, class: "btn btn-sm btn-warning" do %><l class="fa fa-lock"></l><% end %>
        <% end %>
      </td>
      <td>
        <%= job.created_at%>
      </td>
    </tr>
    <% end %>
  </table>
</div>
