<div class="col-md-12">
  <div class="pull-right">
    <%= link_to("添加职位", new_admin_job_path, class: "btn btn-primary")%>
  </div>
  <br><br>

  <table class="table table-hover">
    <% @jobs.each do |job| %>
    <tr>
      <td>
        <%= link_to(job.title, admin_job_path(job))%>
      </td>
      <td>
        <%= link_to("编辑", edit_admin_job_path(job), class: "btn btn-sm btn-primary")%>
        <%= link_to("删除", admin_job_path(job), class: "btn btn-sm btn-warning",
                    method: :delete, data: { confirm: "你确定删除吗？"})%>
      </td>
      <td>
        <%= job.created_at%>
      </td>
    </tr>
    <% end %>
  </table>
</div>
