<h2>æŠ•ä¸ªç®€åŽ†åˆ°<%= @job.title %></h2>
<hr>
<div class="col-md-12">
  <%= simple_form_for [@job,@resume] do |f| %>
    <div class="form-group">
      <%= f.input :content, label: "ç®€åŽ†ä¿¡æ¯", input_html: { class: "form-control"} %>
      <%= f.input :attachment, label: "ðŸ“Žä¸Šä¼ é™„ä»¶ç®€åŽ†" %>
    </div>
    <div class="form-actions">
      <%= f.submit "æäº¤", diasble_with: "Subming...", :class => "btn btn-primary"%>
    </div>
  <% end %>
</div>
