<nav class="navbar navbar-default navbar-fixed-top default-menu menu-4" role="navigation">
    <div class="container">
      <div class="row">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/" ><img src="https://ws3.sinaimg.cn/large/006tNc79ly1fhp5ruuvxqj305k015q3m.jpg"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="divider" role="separator"></li>
                    <% if !current_user %>
                      <div class="info-container">
                        <a class="default-button signin" href="#" data-toggle="modal" data-target="#login-modal">登录</a>
                        <a class="primary-button signup" href="#" data-toggle="modal" data-target="#signup-modal">注册</a>
                      </div>
                    <% else %>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          Hi!<%= current_user.email %><b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                          <% if current_user.admin? %>
                          <li><%= link_to("管理员后台", admin_jobs_path)%></li>
                          <% end %>
                          <li class="divider"></li>
                          <li>
                            <%= link_to("退出", destroy_user_session_path, method: :delete)%>
                          </li>
                        </ul>
                      </li>
                    <% end %>
                </li>
                <li>
                  <!--=== 搜索栏 ===-->
                  <%= form_tag search_jobs_path, :method => :get, class: "navbar-form navbar-right" do %>
                    <div class="input-group search-box">
                      <input type="text" class="form-control" name="keyword" placeholder="搜索职位、公司或地点" value="<%= params[:keyword] %>">
                      <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                          <i class="fa fa-search"></i>
                        </button>
                      </div>
                    </div>
                  <% end %>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>

    </div>
    <!-- /.container-fluid -->
</nav>



<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="loginmodal-container">
       <h2 class="text-center">登录</h2>
       <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
         <div class="form-inputs">
           <%= f.input :email, label: "账号", required: false, autofocus: true %>
           <%= f.input :password, label: "密码", required: false %>
           <%= f.input :remember_me, label: "记住我", as: :boolean if devise_mapping.rememberable? %>
         </div>
         <div class="form-actions">
           <%= f.submit "提交", class: "btn btn-primary"%>
         </div>
       <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <h2 class="text-center">注册</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email, label: "账号", required: true, autofocus: true %>
          <%= f.input :password, label: "密码", required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, label: "再次确定密码", required: true %>
        </div>
        <div class="form-actions">
            <%= f.submit "提交", class: "btn btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
