<!DOCTYPE html>
<html>
  <head>
    <title>352 Offer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content">
          <div class="container-fluid">
            <div class="row">
              <%= render "common/navbar" %>
              <%= render "common/flashes"%>

                  <div class="col-md-2" style="margin-top: 3.5em;">
                    <ul class="nav nav-pills nav-stacked" style="max-width: 300px; padding-top:20px;">
                      <li class="active"><%= link_to admin_jobs_path do %><i class="fa fa-briefcase" aria-hidden="true">
                          </i>&nbsp; 职位<% end %>
                      </li>
                    </ul>
                  </div>


                <div class="col-md-10">
                  <%= yield %>
                </div>
            </div>
          </div>
    </div>
    <%= render "common/footer" %>
  </body>
</html>
